{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <h2 class="text-gold text-center mb-5">Fragrance Collections</h2>
    <div class="row g-4">
        <div class="col-md-4"><div class="p-5 border border-warning text-center">Oud Collection</div></div>
        <div class="col-md-4"><div class="p-5 border border-warning text-center">Floral Musks</div></div>
        <div class="col-md-4"><div class="p-5 border border-warning text-center">Amber Intense</div></div>
    </div>
</div>
{% endblock %}